<section id="listing-view" class="mainbar" data-ng-controller="listing as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div data-ng-repeat="app in vm.apps" class="col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a href="#/app/{{app.package_name}}">
                                <h3 class="panel-title">{{ app.title }}</h3></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{app.icon_72}}" class="img-circle">
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{app.category}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{app.downloads}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ app.short_desc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="javascript:;" aria-label="Previous" ng-hide="vm.prevDisabled()" ng-click="vm.getAll(vm.currentPage - 1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="javascript:;" aria-label="Next" ng-hide="vm.nextDisabled()" ng-click="vm.getAll(vm.currentPage + 1)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</section>